.game-detail-image{
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

ul.tag-list > li{
    display: block;
    width: fit-content;
    float: left;
    background-color: white;
    box-shadow: 1px 1px 1px;
    font-size: 15px;
    border: 2px #006d77 solid;
    border-radius: 5px;
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
}

.card.profile-size{
    height: 30em;
    width: 20em;
}

/* styling for cards to show games list*/

.game-card-area{
    display: grid;
    grid-template-columns: repeat(4, 275px);
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
}

.card.game-list-size{
    height: 550px;
    width: 250px;
    margin: 10px;
    position: relative;
    
}

.card .card-image{
    height: 250px;
    overflow: hidden;
}

.card-content{
    height: 200px;
    padding-top: 5px;
}

.card-action-area{
    height: 100px;
    position: relative;
    top: 40px;
}

/* reviews area on game detail page*/

.review{
    background-color: #f9e4de;
    margin-top: 40px;
}

.review-border{
    border: 2px solid #006d77;
    padding: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1220px) {
    .game-card-area {
      grid-template-columns: repeat(3, 275px);
      grid-gap: 20px;
    }

}

@media only screen and (max-width: 900px) {
    .game-card-area {
      grid-template-columns: repeat(2, 275px);
      grid-gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .game-card-area {
      grid-template-columns: repeat(2, 200px);
      grid-gap: 10px;
    }

    .card.game-list-size{
        height: 400px;
        width: 180px;
    }

    .card .card-image{
        height: 175px;
    }

    .card-content.custom-padding{
        padding: 5px;
        height: 150px;
    }

    .card-action-area{
        height: 50px;
        position: relative;

    }

    .card-content p{
        font-size: 12px;
    }

    .card-content h5{
        font-size: 16px
    }

    .btn-small.teal.mobile-size{
        height: 25px;
        line-height: 25px;
        font-size: 10px;
        top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .game-card-area {
        grid-template-columns: repeat(1, 275px);
        grid-gap: 10px;
    }
    .card.game-list-size{
        height: 550px;
        width: 250px;
        margin: 10px;
        position: relative;
        
    }
    
    .card .card-image{
        height: 250px;
        overflow: hidden;
    }
    
    .card-content.custom-padding{
        height: 200px;
        padding: 10px;
    }
    
    .card-action-area{
        height: 100px;
        position: relative;
        top: 40px;
    }
    /* reset font sizing back to what it was as more room with 1 card width*/
    .card-content p{
        font-size: 14px;
    }

    .card-content h5{
        font-size: 1.64rem
    }

    .btn-small.teal.mobile-size{
        height: 32px;
        line-height: 32px;
        font-size: 13px;
        top: 40px;
    }
}