.game-detail-image{
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

ul.tag-list > li{
    display: block;
    width: fit-content;
    float: left;
    background-color: white;
    box-shadow: 1px 1px 1px;
    font-size: 15px;
    border: 2px #006d77 solid;
    border-radius: 5px;
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
}

.card.profile-size{
    height: 30em;
    width: 20em;
}

.card.game-list-size{
    height: 40em;
    width: 20em;
    margin-left: 15px;
    
}

.card .card-image{
    height: 20em;
    overflow: hidden;
}

.review{
    background-color: #f9e4de;
    margin-top: 40px;
}

.review-border{
    border: 2px solid #006d77;
    padding: 10px;
    margin-bottom: 10px;
}

#rating{
    align-items: flex-start;
}

.checked {
    color: orange;
}

