@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

/* base template/general styling*/
body {
    background-color: #dce8ea;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Merriweather', serif;
    letter-spacing: 1.5px;
}

.bigger-p-text{
    font-size: 20px;
}

.flashes h4 {
    line-height: 2;
    font-size: 20px;
}

/* left padding for headers*/

.padding{
    padding-left: 30px;
}

/* strong wasnt making font bold so corrected that*/

strong {
    font-weight: bolder;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) ;
}

.card-panel {
    background-color: #f9e4de;
    padding: 10px 10px 20px;
}

.custom-teal{
    background-color: #006d77 ;
}

.custom-teal-text{
    color: #006d77;
}

.underline{
    text-decoration: underline;
}

/* nav bar and image*/

a.brand-logo {
    padding-left: 30px;
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    letter-spacing: 1.5px;
}

a.brand-logo > img {
    width: 64px;
    height: 64px;
    line-height: 64px;
    vertical-align: middle;
    padding: 8px;
    margin-right: 4px;
}

/* Search bar */
.search-bar{
    background-color: #f9e4de;
}

/* pagination styling*/

.pagination{
    text-align: center;
}

.pagination li.active {
    background-color: #006d77;
}

.pagination li a {
    color: #006d77;
    font-weight: bolder;
}

/* Table styling - Tags pages*/

.table-container{
    background-color: #f9e4de;
    box-shadow: 2px 2px 2px rgba(134, 133, 133, 0.5);
}

.table-container-header{
    background-color: #83c5be;
    color: #ffffff;
}

th.table-name{
    width: 15%;
}

th.table-desc{
    width: 75%;
}

th.table-actions{
    width: 5%;
}

.table-padding{
    padding-left: 10px;
}

.admin-buttons{
    font-size: 10px;
    width: 50px;
}

/* form styling*/

.custom-form-container{
    background-color: #f9e4de;
    box-shadow: 2px 2px 2px rgba(134, 133, 133, 0.5);
    margin: 30px 50px;
    border-radius: 10px;
}

.custom-form-container > div{
    padding: 20px
}

.input-field>label{
    font-size: 16px;
}

.input-field>label, .select-wrapper input.select-dropdown{
    color: #006d77;
}

/* styling of the tags*/

.tags > label{

    color: #006d77;
    margin-right: 40px;
}

.row .col.tags{
    float: none;
}

.tags > h6 {
    margin-bottom: 20px;
}

.tags{
    margin-bottom: 20px;
}

/*buttons*/

.add-tag-button{
    width: 155px;
    font-size: 14px;
}

.update-game-button{
    width: 180px;
    font-size: 14px;
    height: 50px;
    margin: 10px;
}

.form-button{
    width: 150px;
    font-size: 12px;
    height: 50px;
}

/*media queries*/

@media only screen and (max-width: 992px){
    a.brand-logo{
        padding-left: 0;
    }

    h2.welcome-text{
        font-size: 28px;
        font-weight: bolder;
    }

    h4.welcome-text{
        font-size: 18px;
    }

    .bigger-p-text{
        font-size: 16px;
    }


}

@media only screen and (max-width: 600px) {
    a.brand-logo {
        font-size: 20px;
    }

    a.brand-logo > img {
        width: 48px;
        height: 48px;
        line-height: 48px;
        padding: 8px;
    }

    h2.welcome-text{
        font-size: 22px;
    }

    h4.welcome-text{
        font-size: 16px;
    }

    .bigger-p-text{
        font-size: 14px;
    }
    
}


/*to sort out lack of responsiveness on materialize nav bar "brand-logo" on small screens*/
@media only screen and (max-width: 450px) {
    a.brand-logo {
        font-size: 18px;
    }

    a.brand-logo > img {
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 4px;
    }

    h2.welcome-text{
        font-size: 20px;
    }

    h4.welcome-text{
        font-size: 14px;
    }

    .bigger-p-text{
        font-size: 12px;
    }
}
