
/* base template/general styling*/


/* style container differently?  70% of page width*/
body{
    background-color: #edf6f9;
}

.flashes h4{
    line-height: 2;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) ;
}

a.brand-logo{
    padding-left: 10px;
}

.game-detail-image{
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}