@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

/* base template/general styling*/
body {
    background-color: #dce8ea;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Merriweather', serif;
    letter-spacing: 1.5px;
}

.flashes h4 {
    line-height: 2;
}

.padding{
    padding-left: 30px;
}

strong {
    font-weight: bolder;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) ;
}

a.brand-logo {
    padding-left: 30px;
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    letter-spacing: 1.5px;
}

a.brand-logo > img {
    width: 64px;
    height: 64px;
    line-height: 64px;
    vertical-align: middle;
    padding: 8px;
}

.card-panel {
    background-color: #f9e4de;
    padding: 10px 10px 20px;
}

.custom-teal{
    background-color: #006d77 ;
}

.custom-teal-text{
    color: #006d77;
}

.underline{
    text-decoration: underline;
}

.custom-form-container{
    background-color: #f9e4de;
    box-shadow: 2px 2px 2px rgba(134, 133, 133, 0.5);
    padding: 20px 0px;
    margin: 30px 50px;
}
.input-field>label, .select-wrapper input.select-dropdown{
    color: #006d77;
}

.tags > label{

    color: #006d77;
    margin-right: 40px;
}

.tags > h6 {
    margin-bottom: 20px;
}

.tags{
    margin-bottom: 20px;
}


/*media queries*/

@media only screen and (max-width: 992px){
    a.brand-logo{
        padding-left: 0;
    }
    h2.welcome-text{
        font-size: 2.8rem;
    }
    h4.welcome-text{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 600px) {
    h2.welcome-text{
        font-size: 2rem;
    }
    h4.welcome-text{
        font-size: 1.2rem;
    }
}


/*to sort out lack of responsiveness on materialize nav bar "brand-logo" on small screens*/
@media only screen and (max-width: 450px) {
    a.brand-logo {
        font-size: 1.2rem;
    }
}
