{% extends "base.html" %}
{% block content %}
    <div class="custom-teal-text">
        <h1>Hello? Is it meeples you're looking for?!</h1>
        <h4>Ooops! Something went wrong or this page no longer exists!</h4>
        {% if session.user %}
            <a href="{{ url_for('get_games') }}" class="btn-large teal text-shadow">Click Here to go back to the home page</a>
        {% else %}
            <a href="{{ url_for('games_non_user') }}" class="btn-large teal text-shadow">Click Here to go back to the home page</a>
        {% endif %}
        <img src="/static/img/Meeple-Teal-128.png" alt="teal meeple">
    </div>
{% endblock %}