{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}

{% block content %}
    <div class="row custom-teal-text padding">
        <div class="col s12">
            <h4 class="underline" >Add a Review for:</h4>
        </div>
    </div>
    <!--Add a review-->
    <div class="row">
            <form class="col s12 m10 offset-m1 center-align custom-form-container" action="{{url_for('add_review', game_id=game._id) }}" method="POST">
                <!--board game name - prepopulated-->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="name" name="name" type="text" 
                                class="validate" value="{{game.name|capitalize}}" required></input>
                        <label for="name">Name of Board Game:</label>
                    </div>
                </div>
                <!--review comments-->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                    <textarea id="review_comments" name="review_comments" class="materialize-textarea" required></textarea>
                    <label for="review_comments">Review Comments:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 center-align">
                        <!--cancel button -->
                        <a href="#" onclick="goBack()" class="btn-large form-button amber text-shadow">
                            Cancel<i class="fas fa-arrow-circle-left right"></i>
                        </a>
                    </div>
                    <div class="col s12 m4 center-align">
                        <!--Reset form-->
                        <a href="#" onclick="refreshPage()" class="btn-large form-button blue accent-3 text-shadow">
                            Reset<i class="fas fa-undo right"></i>
                        </a>
                    </div>
                    <div class="col s12 m4 center-align">
                        <!--submit button -->
                        <button type="submit" class="btn-large form-button teal text-shadow">
                            Submit<i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

   
            
{% endblock %}