{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}

{% block content %}
    <div class="row custom-teal-text padding">
        <div class="col s12">
            <h4 class="underline"><i class="fas fa-tag"></i> Add a Tag:</h4>
            <p>*Please check that the tag doesn't already exist before adding. The full list of existing tags can be found below:</p>
        </div>
    </div>
    <div class="row custom-teal-text">
        <form class="col s8 offset-s2 custom-form-container" method="POST" action="{{url_for('add_tag') }}">
            <!--tag use -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="use" name="use">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="mechanisms">Mechanisms</option>
                        <option value="themes">Themes</option>
                    </select>
                    <label for="use">Tag use:</label>
                </div>
            </div>
            <!--tag name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" name="name" type="text" 
                        maxlength="50" class="validate" required></input>
                    <label for="name">Tag name:</label>
                </div>
            </div>
            <!--tag description -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" name="description" minlength="5" 
                        maxlength="300" class="materialize-textarea validate" required></textarea>
                    <label for="description">Description:</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                        <!--cancel button -->
                        <a href="#" onclick="goBack()" class="btn-large amber text-shadow">
                        Cancel<i class="fas fa-arrow-circle-left right"></i>
                    </a>
                        <!--Reset form-->
                        <a href="#" onclick="refreshPage()" class="btn-large blue accent-3 text-shadow">
                        Reset<i class="fas fa-undo right"></i>
                    </a>
                        <!--submit button -->
                    <button type="submit" class="btn-large teal text-shadow">
                        Add Tag<i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row custom-teal-text padding">
        <div class="col s12 m6 padding">
            <h4 class="underline"><i class="fas fa-cogs"></i> Game Mechanisms:</h4>
            <ul class="tag-list">
                {% for mech in mechanisms|sort(attribute='name') %}
                    <li> {{mech.name|capitalize}} </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m6 padding">
            <h4 class="underline"><i class="fas fa-palette"></i> Game Themes:</h4>
            <ul class="tag-list">
                {% for theme in themes|sort(attribute='name') %}
                    <li> {{theme.name|capitalize}} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}