{% extends "base.html" %}
{% block content %}

    <h4 class="custom-teal-text padding"><i class="fas fa-edit"></i> <span class="underline">Edit Game: {{game.name}}</span></h4>
    <div class="row">
        <form class="col s12 m10 offset-m1 custom-form-container" method="POST" action="{{ url_for('edit_game', game_id=game._id) }}">
            <!--game name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" name="name" type="text" 
                        maxlength="50" class="validate" value="{{game.name}}" required></input>
                    <label for="name">Name of Board Game:</label>
                </div>
            </div>
            <!--game description -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" name="description" minlength="5" 
                        maxlength="300" class="materialize-textarea validate" required>
                        {{- game.description -}}
                    </textarea>
                    <label for="description">Description:</label>
                </div>
            </div>
            <!-- image URL - stock image won't be populated on form just URL -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="image" name="image" minlength="5" 
                        maxlength="300" class="materialize-textarea validate">
                        {{- game.image -}}
                    </textarea>
                    <label for="image">Image URL:</label>
                </div>
            </div>
            <!-- publisher -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="publisher" name="publisher" type="text" 
                        maxlength="50" class="validate" value="{{game.publisher}}" required></input>
                    <label for="publisher">Publisher:</label>
                </div>
            </div>
            <!-- board game type -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="type" name="type">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="base game">Base Game</option>
                      <option value="base expansion">Expansion (requires base game to play)</option>
                      <option value="standalone expansion">Standalone Expansion</option>
                    </select>
                    <label for="type">Game Type:</label>
                </div>
            </div>
            <!--player count - 2 dropdowns: min-player & max_player -->
            <div class="row">
                <div class="input-field col s12 m6">
                    <select id="min_player" name="min_player">
                      <!-- <option value="" disabled selected>Choose your option</option> -->
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <label for="min_player">Minimun Player(s):</label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="max_player" name="max_player">
                        <!-- <option value="" disabled selected>Choose your option</option> -->
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="+">No maximum</option>
                    </select>
                    <label for="max_player">Maximum Player(s):</label>
                </div>
            </div>
                <p class="custom-teal-text"><em>*if minimum & maximum player is the same, please select the same numbers for both 
                    (e.g. for a 2 player game, minimum and maximum players = 2 ) </em></p>
            <!--playing time -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="playing_time" name="playing_time">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="short">Short: Less than 1 hour</option>
                        <option value="medium">Medium: 1-2 hours</option>
                        <option value="long">Long: More than 2 hours</option>
                    </select>
                    <label for="playing_time">Playing Time:</label>
                </div>
            </div>
            <!--playing age -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="age" name="age" type="number" class="validate" value="{{game.age}}" required></input>
                    <label for="age">Age:</label>
                </div>
                <p class="custom-teal-text center-align"><em>*Please enter a number indicating the minimum age the game is appropriate for.</em></p>
            </div>
            <!--mechanisms - tags -->
            <div class="custom-teal-text tags">
                <h6><i class="fas fa-cogs"></i> <span class="underline">Mechanisms:</span></h6>
                {% for mech in mechanisms %}
                        <label for="mech{{loop.index}}">
                            <input type="checkbox" class="filled-in" id="mech{{loop.index}}" name="mechanisms" value="{{mech.name}}" {% if mech.selected %} checked="checked" {% endif %} />
                            <span>{{mech.name|capitalize}}</span>
                        </label>
                {% endfor %}
            </div>
            <!--themes - tags -->
            <div class="custom-teal-text tags">
                <h6><i class="fas fa-palette"></i> <span class="underline">Themes:</span></h6>
                {% for theme in themes %}
                <label for="theme{{loop.index}}">
                    <input type="checkbox" class="filled-in" id="theme{{loop.index}}" name="themes" value="{{theme.name}}" {% if theme.selected %} checked="checked" {% endif %}/>
                    <span>{{theme.name|capitalize}}</span>
                </label>
                {% endfor %}
            </div>
            <p class="custom-teal-text center-align"><em>*Click all game mechanisms and themes that appply</em></p>
            
            <div class="row">
                <div class="col s12 m6 center-align">
                    <!-- cancel button-->
                    <a href="#" onclick="goBack()" class="btn-large update-game-button amber text-shadow">
                        Cancel<i class="fas fa-arrow-circle-left right"></i>
                    </a>
                    <!--Reset form-->
                    <a href="#" onclick="refreshPage()" class="btn-large update-game-button blue accent-3 text-shadow">
                        Reset<i class="fas fa-undo right"></i>
                    </a>
                </div>
                <div class="col s12 m6 center-align">
                    <!--Delete button with "are you sure?" modal - admin only -->
                    {% if username == "admin" %}
                        <a href="#delete-game" class="btn-large update-game-button red accent-2 text-shadow modal-trigger">
                            Delete<i class="fas fa-trash right"></i>
                        </a>
                        <div id="delete-game" class="modal">
                            <div class="modal-content custom-teal-text">
                                <h4>Delete {{game.name|capitalize}}?</h4>
                                <p class="center-align">Are you sure you want to delete <strong>{{game.name|capitalize}}</strong>?<br>
                                    <em>*This cannot be undone!!</em>
                                </p>
                                <img src="/static/img/Meeple-Teal-128.png">
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close amber waves-effect btn-small">Cancel<i class="fas fa-undo right"></i></a>
                                <a href="{{ url_for('delete_game', game_id=game._id) }}" class="modal-close waves-effect red accent-2 btn-small">Delete<i class="fas fa-trash right"></i></a>
                            </div>
                        </div>
                    {% endif %}
                    <!--submit button -->
                    <button type="submit" class="btn-large update-game-button teal text-shadow">
                        Update<i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
<script>  
document.addEventListener('DOMContentLoaded', function() {
    dropdownValue('min_player', '{{game.min_player}}');
    dropdownValue('max_player', '{{game.max_player}}');
    dropdownValue('playing_time', '{{game.playing_time}}');
    dropdownValue('type', '{{game.type}}')
});
</script>
{% endblock %}