{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}
{% block title %}
    <title>Meeple Finder - Edit review for {{game.name|capitalize}}</title>
{% endblock %}

{% block content %}
    <div class="row custom-teal-text padding">
        <div class="col s12">
            <h4><i class="fas fa-edit"></i> <span class="underline">Edit review for {{game.name|capitalize}}:</span></h4>
        </div>
    </div>
    {# Edit review #}
    <div class="row custom-teal-text">
        <form class="col s12 m10 offset-m1 custom-form-container center-align" 
            action="{{url_for('edit_review', game_id=game._id, review_id=review._id) }}" method="POST">
            {# board game name - prepopulated #}
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <input id="name" name="name" type="text" 
                            class="validate" value="{{game.name|capitalize}}" disabled></input>
                    <label for="name">Name of Board Game:</label>
                </div>
            </div>
            {# review comments #}
            <div class="row">
                <div class="input-field col s10 offset-s1">
                <textarea id="review_comments" name="review_comments" class="materialize-textarea" required>
                    {{- review.review_comments -}}
                </textarea>
                <label for="review_comments">Review Comments:</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    {#  cancel button #}
                    <a href="#" class="btn-large back-button form-button amber text-shadow">
                        Cancel<i class="fas fa-arrow-circle-left right"></i>
                    </a>
                </div>
                <div class="col s12 m4">
                    {# Reset form #}
                    <a href="#" class="btn-large reset-button form-button blue accent-3 text-shadow">
                        Reset<i class="fas fa-undo right"></i>
                    </a>
                </div>
                <div class="col s12 m4">
                    {# submit button  #}
                    <button type="submit" class="btn-large form-button teal text-shadow">
                        Submit<i class="fas fa-check-circle right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

   
            
{% endblock %}