{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}


{% block content %}
    <div class="row custom-teal-text">
        <div class="col s12 l4 center-align">
            <h2 class="underline">{{game.name|capitalize}}</h2>
            {% if game.image == "" %}
                <img class="game-detail-image" src="https://www.logolynx.com/images/logolynx/s_33/33d3b4fb44abf51ee337cff414cbaecd.jpeg">
            {% else %}
                <img class="game-detail-image" src="{{game.image}}">
            {% endif %}
            <p>{{game.description}}</p>
            <ul>
                <li>Publisher: {{game.publisher|capitalize}}</li>
                <li>Type: {{game.type|capitalize}}</li>
                <li>Age: {{game.age}} and up</li>
                    {% if game.min_player == game.max_player %}
                        <li>Number of players: {{game.min_player}}</li>
                    {% elif game.max_player == "+" %}
                        <li>Number of players: {{game.min_player}} or more</li>
                    {% else %}
                        <li>Number of players: {{game.min_player}} to {{game.max_player}}</li>
                    {% endif %}
                <li class="tooltipped" data-position="bottom" data-tooltip="Short = less than 1 hour.  Medium = 1-2 hours.  Long = 2+ hours.">Playing time: {{game.playing_time|capitalize}}</li>
            </ul>
            <br>
            <h4 class="underline">Game Mechanisms:</h4>
            {% if game.mechanisms|count > 0 %}
                <ul class="tag-list">
                    {% for mech in game.mechanisms %}
                        <li> {{mech|capitalize}} </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tags have been defined for {{game.name|capitalize}}</p>
            {% endif %}
            <br>
            <br>
            <h4 class="underline">Game Themes:</h4>
                {% if game.themes|count > 0 %}
                    <ul class="tag-list">
                    {% for theme in game.themes %}
                        <li> {{theme|capitalize}} </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No tags have been defined for {{game.name|capitalize}}</p>
                {% endif %}
        </div>

        <!--Reviews-->
        <div class="col s12 l6 offset-l1 center-align review">
            <h4 class="underline">Reviews:</h4>
            <div class="row">
                <div class="col s10 offset-s1">
                    <a href="{{ url_for('add_review', game_id=game._id) }}" class="btn-large teal text-shadow modal-trigger">
                        Write a Review<i class="fas fa-pen right"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                {% if reviews == [] %}
                    <div class="col s10 offset-s1">
                        <p>No reviews have been left yet. Leave your review below!</p>
                    </div>
                {% else %}
                    {% for review in reviews %}
                        <div class="col s10 offset-s1 review-border">
                            <p>{{review.review_comments}}</p>
                            <p><strong>Reviewed by: {{review.created_by|capitalize}} on {{review.created_date}}</strong></p>
                            <!--Edit/Delete Review only by user who created it-->
                            {% if session["user"] == review.created_by %}
                            <div class="row">
                                <div class="col s12">
                                    <a href="{{url_for('edit_review', game_id=game._id, review_id=review._id) }}" class="btn-small amber text-shadow">
                                        Edit Review<i class="fas fa-edit right"></i>
                                    </a>
                                    <a href="#delete-review-{{loop.index}}" class="btn-small red accent-2 text-shadow modal-trigger">
                                        Delete Review<i class="fas fa-trash right"></i>
                                    </a>
                                    <!-- modal to confirm deletion -->
                                    <div id="delete-review-{{loop.index}}" class="modal">
                                        <div class="modal-content custom-teal-text">
                                            <h4>Delete your review for {{review.name|capitalize}}?</h4>
                                            <p class="center-align">Are you sure you want to delete your review for <strong>{{review.name|capitalize}}</strong>?<br>
                                                <strong>{{review.review_comments}}</strong><br>
                                                <em>*This cannot be undone!!</em>
                                            </p>
                                            <img src="/static/img/Meeples-Icon-Teal.png">
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-close amber waves-effect btn-small">Cancel<i class="fas fa-undo right"></i></a>
                                            <a href="{{url_for('delete_review', game_id=game._id, review_id=review._id) }}" class="modal-close waves-effect red accent-2 btn-small">Delete<i class="fas fa-trash right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

{% endblock %}
