{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}
{% block title %}
    <title>Meeple Finder</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card-panel custom-teal-text center-align">
            <h2 class="welcome-text">Welcome to Meeple Finder</h2>
            <h4 class="welcome-text">Where meeting Meeples is easy....</h4>
            <br>    
            <p class="bigger-p-text">Meeple finder is an online community for board game enthusiasts</p>
            <p class="bigger-p-text">Register to be able to join the community and review your favourtie games, add your favourite games
                to your own personalised collection or add games you would like to purchase to a wishlist.</p>
            <a href="{{ url_for('register') }}" class="btn-small teal text-shadow">Register<i class="fas fa-user-plus right"></i></a>
            <p class="bigger-p-text">Already Registered?</p>
            <a href="{{ url_for('login') }}" class="btn-small teal text-shadow">Log in<i class="fas fa-sign-in-alt right"></i></a>
        </div>
    </div>
</div>
<h3 class="custom-teal-text padding"><i class="fas fa-dice"></i> <span class="underline">Games List:</span></h3>
<div class="center-align">
    <a href="{{ url_for('games_non_user') }}" class="blue accent-3 btn-large text-shadow">Show all Games</a>
</div>
<!--Search & filter bars in collapsibles-->
<ul class="collapsible row">
    <li class="s12">
        <div class="collapsible-header teal white-text text-shadow"><i class="fas fa-search left"></i> 
            Search
        </div>
        <div class="collapsible-body card-panel search-bar custom-teal-text center-align">
                <form action="{{ url_for('search') }}" method="POST" class="col s12">
                    <div class="row">

                        <div class="input-field col s12">
                            <i class="fas fa-search prefix"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search Games</label>
                        </div>
                        <div class="col s12">
                            <button type="submit" class=" btn-small teal text-shadow">
                                <i class="fas fa-search left"></i> Search
                            </button>
                        </div>
                    </div>
                </form>
                <p><em>*Searches across Name, Description, Game Mechanisms and Themes</em></p>
        </div>
    </li>
    <li class="s12">
        <div class="collapsible-header teal white-text text-shadow"><i class="fas fa-filter left"></i>
             Filter
        </div>
        <div class="collapsible-body card-panel search-bar custom-teal-text">
            <form action="{{ url_for('filter_tags') }}" method="POST">
                <div class="row">
                    <h6 class="col s12"><i class="fas fa-cogs"></i> <span class="underline">Mechanisms:</span></h6>
                </div>
                <div class="row">
                    <div class="col s12 custom-teal-text tags">
                        {% for tag in tags %}
                            {% if tag.use == "mechanisms" %}
                                <label for="mechanisms{{loop.index}}">
                                    <input type="checkbox" class="filled-in" id="mechanisms{{loop.index}}" name="mechanisms" value="{{tag.name}}"/>
                                    <span>{{tag.name|capitalize}}</span>
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <h6 class="col s12"><i class="fas fa-palette"></i> <span class="underline">Themes:</span></h6>
                </div>
                <div class="row">
                    <div class="col s12 custom-teal-text tags">
                        {% for tag in tags %}
                            {% if tag.use == "themes" %}
                                <label for="theme{{loop.index}}">
                                    <input type="checkbox" class="filled-in" id="theme{{loop.index}}" name="themes" value="{{tag.name}}"/>
                                    <span>{{tag.name|capitalize}}</span>
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class=" btn-small teal text-shadow">
                            <i class="fas fa-filter left"></i> Filter
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
</ul>
<!--populates games in game list-->
<div class=" game-card-area">
    {% for game in games %}
            <div class="card game-list-size">
                <div class="card-image">
                    {% if game.image == "" %}
                        <img src="https://www.logolynx.com/images/logolynx/s_33/33d3b4fb44abf51ee337cff414cbaecd.jpeg">
                    {% else %}
                        <img src="{{game.image}}">
                    {% endif %}
                </div>
                <div class="card-stacked center-align">
                    <div class="card-content custom-padding">
                        <h5 class="custom-teal-text underline">{{game.name|upper}}</h5>
                        <p>{{game.description|truncate(150)}}</p>
                    </div>
                    <div class="card-action-area">
                        <a href="{{ url_for('get_game_detail', game_id=game._id) }}" class="btn-small teal mobile-size">More Info</a>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
<!--Pagination links-->
{{ pagination.links }}

{% endblock %}