{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}


{% block content %}
    <div class="row custom-teal-text">
        <div class="col s12 l4 center-align">
            <h2 class="underline">{{game.name|capitalize}}</h2>
            {% if game.image == "" %}
                <img class="game-detail-image" src="https://www.logolynx.com/images/logolynx/s_33/33d3b4fb44abf51ee337cff414cbaecd.jpeg">
            {% else %}
                <img class="game-detail-image" src="{{game.image}}">
            {% endif %}
            <p>{{game.description}}</p>
            <ul>
                <li>Publisher: {{game.publisher|capitalize}}</li>
                <li>Type: {{game.type|capitalize}}</li>
                <li>Age: {{game.age}} and up</li>
                    {% if game.min_player == game.max_player %}
                        <li>Number of players: {{game.min_player}}</li>
                    {% elif game.max_player == "+" %}
                        <li>Number of players: {{game.min_player}} or more</li>
                    {% else %}
                        <li>Number of players: {{game.min_player}} to {{game.max_player}}</li>
                    {% endif %}
                <li class="tooltipped" data-position="bottom" data-tooltip="Short = less than 1 hour.  Medium = 1-2 hours.  Long = 2+ hours.">Playing time: {{game.playing_time|capitalize}}</li>
            </ul>
            <br>
            <h4 class="underline">Game Mechanisms:</h4>
            <ul class="tag-list">
                {% for mech in game.mechanisms %}
                    <li> {{mech|capitalize}} </li>
                {% endfor %}
            </ul>
            <br>
            <br>
            <h4 class="underline">Game Themes:</h4>
            <ul class="tag-list">
                {% for theme in game.themes %}
                    <li> {{theme|capitalize}} </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col s12 l6 offset-l1 center-align review">
            <h4 class="underline">Leave a Review for {{game.name|capitalize}}:</h4>
            <div class="row ">
                <form action="{{url_for('add_review', game_id=game._id) }}" method="POST">
                    <!--board game name - prepopulated-->
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="name" name="name" type="text" 
                                 class="validate" value="{{game.name}}" required></input>
                            <label for="name">Name of Board Game:</label>
                        </div>
                    </div>
                    <!--review comments-->
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                        <textarea id="review_comments" name="review_comments" class="materialize-textarea" required></textarea>
                        <label for="review_comments">Review Comments:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <!--Reset form-->
                            <a href="#" onclick="refreshPage()" class="btn-large blue accent-3 text-shadow">
                                Reset<i class="fas fa-undo right"></i>
                            </a>
                            <!--submit button -->
                            <button type="submit" class="btn-large teal text-shadow">
                                Submit review<i class="fas fa-plus-square right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12 l6 offset-l1 center-align review">
            <h4 class="underline">Reviews:</h4>
            <div class="row">
                {% if reviews|length > 0%}
                    {% for rev in reviews %}
                        <div class="col s10 offset-s1">
                            <p>{{rev.review_comments}}</p>
                            <p>Reviewed by: {{rev.created_by}} on {{rev.created_date}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col s10 offset-s1">
                        <p>No reviews have been left yet. Leave your review!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
