{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}
{% block title %}
    <title>Meeple Finder - {{username|capitalize}}'s Profile</title>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="card-panel">
            <h3 class="center-align custom-teal-text welcome-text">
                {{ username|capitalize }}'s Profile
            </h3>
        </div>
    </div>
    <!--Checks if username is admin and loads new added games that need to checked-->
    {% if username == "admin" %}
        <h4 class="underline padding custom-teal-text">New games recently added:</h4>
        <div class="game-card-area custom-teal-text center-align">
            {% for game in games %}
                {% if game.image == "" %}
                        <div class="card profile-size">
                            <div class="card-image profile-size">
                                <img src="https://www.logolynx.com/images/logolynx/s_33/33d3b4fb44abf51ee337cff414cbaecd.jpeg">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content profile-size">
                                    <span class="card-title underline">{{game.name|upper}}</span>
                                    <br>
                                    <a href="{{ url_for('get_game_detail', game_id=game._id) }}" class="btn-small teal mobile-size text-shadow">Game detail page</a>
                                </div>
                                <div class="card-action-area profile-size">
                                    <a  class="btn-small red accent-3 mobile-size text-shadow" href="{{ url_for('edit_game', game_id=game._id) }}"> 
                                        Update / Delete Game<i class="fas fa-edit right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
        <!--Pagination links-->
        {{ pagination.links }}
    {% else %}
        <h4 class="padding custom-teal-text"><i class="fas fa-folder-open"></i> <span class="underline">My Collection:</span></h4>
        <div class="game-card-area custom-teal-text center-align">
            <!--checks if collection array has values-->
            {% if collection|length > 0 %}
                {% for game in collection %}
                        <div class="card profile-size">
                            <a href="{{ url_for('get_game_detail', game_id=game.id) }}">
                                <div class="card-image profile-size">
                                    {% if game.image == "" %}
                                        <img src="https://www.logolynx.com/images/logolynx/s_33/33d3b4fb44abf51ee337cff414cbaecd.jpeg">
                                    {% else %}
                                        <img src="{{game.image}}">
                                    {% endif %}
                                </div>
                            </a>
                            <div class="card-stacked">
                                <div class="card-content profile-size">
                                    <a href="{{ url_for('get_game_detail', game_id=game.id) }}"><span class="card-title underline custom-teal-text">{{game.name|upper}}</span></a>
                                    <br>
                                    <p>Added to Collection: <strong>{{game.date_added}}</strong></p><br>
                                    <a href="{{ url_for('get_game_detail', game_id=game.id) }}" class="btn-small teal mobile-size text-shadow">More Info / Reviews</a>
                                </div>
                                <div class="card-action-area profile-size center-align">
                                    <a href="{{ url_for('remove_from_collection', game_id=game.id) }}" class="red-text accent-3"><i class="fas fa-minus-circle"></i>  Remove from Collection</a>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                <!--Pagination links-->
                {{ pagination.links }}
            <!--Message to appear of collection array is empty-->
            {% else %}
                <h6 class="center-align">Oh dear, your games collection is empty! Browse our <a href="{{ url_for('get_games') }}" class="underline custom-teal-text"><strong>games list</strong></a> to start adding games to your collection</h6>
            {% endif %}
        </div>   
        <br>
        <h4 class="padding custom-teal-text"><i class="fas fa-heart"></i> <span class="underline">My Wishlist:</span></h4>
        <div class="game-card-area custom-teal-text center-align">    
            <!--checks if wishlist array has values-->
            {% if wishlist|length > 0 %}
                {% for game in wishlist %}
                    <div class="card profile-size">
                        <a href="{{ url_for('get_game_detail', game_id=game.id) }}">
                            <div class="card-image profile-size">
                                {% if game.image == "" %}
                                    <img src="https://www.logolynx.com/images/logolynx/s_33/33d3b4fb44abf51ee337cff414cbaecd.jpeg">
                                {% else %}
                                    <img src="{{game.image}}">
                                {% endif %}
                            </div>
                        </a>
                        <div class="card-stacked">
                            <div class="card-content profile-size">
                                <a href="{{ url_for('get_game_detail', game_id=game.id) }}">
                                    <span class="card-title underline custom-teal-text">{{game.name|upper}}</span>
                                </a>
                                <br>
                                <p>Added to Wishlist: <strong>{{game.date_added}}</strong></p><br>
                                <a href="{{ url_for('get_game_detail', game_id=game.id) }}" class="btn-small teal mobile-size text-shadow">More Info / Reviews</a>
                            </div>
                            <div class="card-action-area profile-size center-align">
                                <a href="{{ url_for('move_to_collection', game_id=game.id) }}" class="custom-teal-text profile-links"><i class="fas fa-plus-circle"></i>  Move to Collection</a>
                                <br>
                                <a href="{{ url_for('remove_from_wishlist', game_id=game.id) }}" class="red-text accent-3 profile-links"><i class="fas fa-minus-circle"></i>  Remove from Wishlist</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--Pagination links-->
                {{ pagination.links }}
             <!--Message to appear if wishlist array is empty-->
            {% else %}
                <h6 class="center-align">Oh dear, your games wishlist is empty! Browse our <a href="{{ url_for('get_games') }}" class="underline custom-teal-text"><strong>games list</strong></a> to start adding games to your wishlist</h6>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}