{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="card-panel">
            <h3 class="center-align custom-teal-text welcome-text">
                {{ username|capitalize }}'s Profile
            </h3>
        </div>
    </div>
    <!--Checks if username is admin and loads new added games that need to checked-->
    {% if username == "admin" %}
        <div class="row custom-teal-text">
            <h4 class="underline padding">New games recently added:</h4>
            {% for game in games %}
                <div class="col s12 m6 l4">
                    <div class="card profile-size">
                        <div class="card-image">
                            <img src="{{game.image}}">
                        </div>
                        <div class="card-content custom-teal-text">
                            <span class="card-title">{{game.name}}</span>
                            <a href="#"> Update game information</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row custom-teal-text">
            <h4 class="underline padding">My Collection:</h4>
            <!--checks if collection array has values-->
            {% if game is defined %}
                {% for game in collection %}
                    <div class="col s12 m6 l4">
                        <div class="card profile-size">
                            <div class="card-image">
                                <img src="{{game.image}}">
                            </div>
                            <div class="card-content custom-teal-text">
                                <span class="card-title">{{game.name}}</span>
                                <p>Added to Collection: {{game.date_added}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            <!--Message to appear of collection array is empty-->
            {% else %}
                <h6 class="center-align">Oh dear, your games collection is empty! Browse our <a href="{{ url_for('get_games') }}" class="underline custom-teal-text"><strong>games list</strong></a> to start adding games to your collection</h6>
            {% endif %}
        </div>   
        <br>
        <div class="row custom-teal-text">
            <h4 class="underline padding">My Wishlist:</h4>
            <!--checks if wishlist array has values-->
            {% if game is defined %}
                {% for game in wishlist %}
                    <div class="col s12 m6 l4">
                        <div class="card profile-size">
                            <div class="card-image">
                                <img src="{{game.image}}">
                            </div>
                            <div class="card-content custom-teal-text">
                                <span class="card-title">{{game.name}}</span>
                                <p>Added to Wishlist: {{game.date_added}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
             <!--Message to appear if wishlist array is empty-->
            {% else %}
                <h6 class="center-align">Oh dear, your games wishlist is empty! Browse our <a href="{{ url_for('get_games') }}" class="underline custom-teal-text"><strong>games list</strong></a> to start adding games to your wishlist</h6>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}