{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="card-panel">
            <h3 class="center-align custom-teal-text welcome-text">
                {{ username|capitalize }}'s Profile
            </h3>
        </div>
    </div>
    <!--Checks if username is admin and loads new added games that need to checked-->
    {% if username == "admin" %}
        <div class="row custom-teal-text">
            <h4 class="underline padding">New games recently added:</h4>
            {% for game in games %}
                {% if game.image == "" %}
                    <div class="col s12 m6 l4">
                        <div class="card profile-size">
                            <div class="card-image">
                                <img src="https://www.logolynx.com/images/logolynx/s_33/33d3b4fb44abf51ee337cff414cbaecd.jpeg">
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title underline">{{game.name}}</span>
                                <a  class="btn-small teal text-shadow" href="{{ url_for('edit_game', game_id=game._id) }}"> 
                                    Update/Delete Game<i class="fas fa-edit right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="row custom-teal-text">
            <h4 class="underline padding">My Collection:</h4>
            <!--checks if collection array has values-->
            {% if collection|length > 0 %}
                {% for game in collection %}
                    <div class="col s12 m6 l4">
                        <div class="card profile-size">
                            <div class="card-image">
                                <img src="{{game.image}}">
                            </div>
                            <div class="card-content custom-teal-text">
                                <span class="card-title">{{game.name|capitalize}}</span>
                                <p>Added to Collection: {{game.date_added}}</p>
                                <a href="{{ url_for('remove_from_collection', game_id=game.id) }}" class="teal-text darken-2"><i class="fas fa-minus-circle"></i>  Remove from Collection</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            <!--Message to appear of collection array is empty-->
            {% else %}
                <h6 class="center-align">Oh dear, your games collection is empty! Browse our <a href="{{ url_for('get_games') }}" class="underline custom-teal-text"><strong>games list</strong></a> to start adding games to your collection</h6>
            {% endif %}
        </div>   
        <br>
        <div class="row custom-teal-text">
            <h4 class="underline padding">My Wishlist:</h4>
            <!--checks if wishlist array has values-->
            {% if wishlist|length > 0 %}
                {% for game in wishlist %}
                    <div class="col s12 m6 l4">
                        <div class="card profile-size">
                            <div class="card-image">
                                <img src="{{game.image}}">
                            </div>
                            <div class="card-content custom-teal-text">
                                <span class="card-title">{{game.name|capitalize}}</span>
                                <p>Added to Wishlist: {{game.date_added}}</p>
                                <a href="{{ url_for('move_to_collection', game_id=game.id) }}" class="teal-text darken-2"><i class="fas fa-plus-circle"></i>  Move to Collection</a><br>
                                <a href="{{ url_for('remove_from_wishlist', game_id=game.id) }}" class="teal-text darken-2"><i class="fas fa-minus-circle"></i>  Remove from Wishlist</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
             <!--Message to appear if wishlist array is empty-->
            {% else %}
                <h6 class="center-align">Oh dear, your games wishlist is empty! Browse our <a href="{{ url_for('get_games') }}" class="underline custom-teal-text"><strong>games list</strong></a> to start adding games to your wishlist</h6>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}