{% extends "base.html" %}
{% block content %}
{% block title %}
    <title>Meeple Finder - Register</title>
{% endblock %}

    <h3 class="custom-teal-text center-align underline">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                 <!--username-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix custom-teal-text"></i>
                        <input id="username" name="username" type="text" minlength="5" 
                        maxlength="15" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!--password-->
                <div class="row custom-teal-text">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix custom-teal-text"></i>
                        <input id="password" name="password" type="password" minlength="8" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <p class="padding"><em>* password must be at least 8 characters</em></p>
                </div>
                <!--register-->
                <div class="row">
                    <button type="submit" class="col s12 btn-large teal text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row center-align custom-teal-text">
        <div class="col s12">
            <p class="bigger-p-text">Already Registered? click the link below to log in</p>
            <a href="{{ url_for('login') }}" class="btn-small teal text-shadow">Log in<i class="fas fa-sign-in-alt right"></i></a>
        </div>
    </div>


{% endblock %}
