{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}" type="text/css">
{% endblock %}

{% block content %}
    <div class="row custom-teal-text padding">
        <div class="col s12">
            <h4><i class="fas fa-tags"></i> <span class="underline">Tag List:</span></h4>
            <p>Glossary of tags by use</p>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <h4 class="custom-teal-text"><i class="fas fa-cogs"></i> <span class="underline">Mechanism Tags:</span></h4>
            <table class="custom-teal-text table-container">
                <thead class="table-container-header text-shadow">
                    <tr>
                        <th class="table-name padding">Name</th>
                        <th class="table-desc">Description</th>
                        {% if session["user"] == "admin" %}
                            <th class="table-actions">Edit Tag</th>
                            <th class="table-actions">Delete Tag</th>
                        {% endif %}
                    </tr>
                </thead>
        
                <tbody>
                    {% for tag in mechanisms %}
                        <tr>
                            <td class="padding"><strong>{{tag.name|capitalize}}</strong></td>
                            <td>{{tag.description|capitalize}}</td>
                            {% if session["user"] == "admin" %}
                                <td> 
                                <a href="{{ url_for('edit_tag', tag_id=tag._id) }}" class="btn-small amber text-shadow">
                                    Edit Tag<i class="fas fa-edit right"></i>
                                </a>
                                </td>
                                <td> 
                                    <a href="#delete-tag-{{loop.index}}" class="btn-small red accent-2 text-shadow modal-trigger">
                                        Delete Tag<i class="fas fa-trash right"></i>
                                    </a>
                                    <div id="delete-tag-{{loop.index}}" class="modal">
                                        <div class="modal-content custom-teal-text center-align">
                                            <h4>Delete your review for {{tag.name|capitalize}}?</h4>
                                            <p class="center-align">Are you sure you want to delete the tag <strong>{{tag.name|capitalize}}</strong>?</p><br>
                                            <table class="custom-teal-text table-container">
                                                <thead class="table-container-header text-shadow">
                                                    <tr>
                                                        <th>Use</th>
                                                        <th>Name</th>
                                                        <th>Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{tag.use|capitalize}}</td>
                                                        <td><strong>{{tag.name|capitalize}}</strong></td>
                                                        <td>{{tag.description|capitalize}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p><em>*This cannot be undone!!</em></p>                                           
                                            <img src="/static/img/Meeples-Icon-Teal.png">
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-close amber waves-effect btn-small">Cancel<i class="fas fa-undo right"></i></a>
                                            <a href="{{ url_for('delete_tag', tag_id=tag._id) }}" class="modal-close waves-effect red accent-2 btn-small">Delete<i class="fas fa-trash right"></i></a>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <h4 class="custom-teal-text"><i class="fas fa-palette"></i> <span class="underline">Theme Tags:</span></h4>
            <table class="custom-teal-text table-container">
                <thead class="table-container-header text-shadow">
                    <tr>
                        <th class="table-name padding">Name</th>
                        <th class="table-desc">Description</th>
                        {% if session["user"] == "admin" %}
                            <th class="table-actions">Edit Tag</th>
                            <th class="table-actions">Delete Tag</th>
                        {% endif %}
                    </tr>
                </thead>
        
                <tbody>
                    {% for tag in themes %}
                        <tr>
                            <td class="padding"><strong>{{tag.name|capitalize}}</strong></td>
                            <td>{{tag.description|capitalize}}</td>
                            {% if session["user"] == "admin" %}
                                <td> 
                                <a href="{{ url_for('edit_tag', tag_id=tag._id) }}" class="btn-small amber text-shadow">
                                    Edit Tag<i class="fas fa-edit right"></i>
                                </a>
                                </td>
                                <td> 
                                    <a href="#delete-tag-{{loop.index}}" class="btn-small red accent-2 text-shadow modal-trigger">
                                        Delete Tag<i class="fas fa-trash right"></i>
                                    </a>
                                    <div id="delete-tag-{{loop.index}}" class="modal">
                                        <div class="modal-content custom-teal-text center-align">
                                            <h4>Delete your review for {{tag.name|capitalize}}?</h4>
                                            <p class="center-align">Are you sure you want to delete the tag <strong>{{tag.name|capitalize}}</strong>?</p><br>
                                            <table class="custom-teal-text table-container">
                                                <thead class="table-container-header text-shadow">
                                                    <tr>
                                                        <th>Use</th>
                                                        <th>Name</th>
                                                        <th>Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{tag.use|capitalize}}</td>
                                                        <td><strong>{{tag.name|capitalize}}</strong></td>
                                                        <td>{{tag.description|capitalize}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p><em>*This cannot be undone!!</em></p>                                           
                                            <img src="/static/img/Meeples-Icon-Teal.png">
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-close amber waves-effect btn-small">Cancel<i class="fas fa-undo right"></i></a>
                                            <a href="{{ url_for('delete_tag', tag_id=tag._id) }}" class="modal-close waves-effect red accent-2 btn-small">Delete<i class="fas fa-trash right"></i></a>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12">
            <h4 class="underline custom-teal-text">Can't see the tag you want?</h4>
            <div class="row">
                <div class="col s12">
                    <a href="{{url_for('add_tag') }}" class="btn-large teal text-shadow modal-trigger">
                        Add a Tag<i class="fas fa-pen right"></i>
                    </a>
            </div>
        </div>
    </div>

    
{% endblock %}